# Panorama
int - Integer / Enteros

float - Float / Números con decimales

complex - Complex / Complejos (Números con una parte real y una imaginaria)

bool - Boolean (True / False) / Valores Lógicos (Verdaero / Falso)

str - Strings / Cadenas, Textos

# int - Integer/Enteros

In [1]:
mi_entero = 11
print("El valor de mi_entero es: ", mi_entero)
print("El tipo de dato de mi_entero es: ", type(mi_entero))

El valor de mi_entero es:  11
El tipo de dato de mi_entero es:  <class 'int'>

In [2]:
mi_entero = 2022
print("El valor de mi_entero es: ", mi_entero)
print("El tipo de dato de mi_entero es: ", type(mi_entero))

El valor de mi_entero es:  2022
El tipo de dato de mi_entero es:  <class 'int'>

In [3]:
mi_entero = 57831
print("El valor de mi_entero es: ", mi_entero)
print("El tipo de dato de mi_entero es: ", type(mi_entero))

El valor de mi_entero es:  57831
El tipo de dato de mi_entero es:  <class 'int'>

In [4]:
# Error
mi_entero = 57831d
print("El valor de mi_entero es: ", mi_entero)
print("El tipo de dato de mi_entero es: ", type(mi_entero))

SyntaxError: invalid decimal literal (1919625889.py, line 2)

In [5]:
# Error
mi_entero = 11@
print("El valor de mi_entero es: ", mi_entero)
print("El tipo de dato de mi_entero es: ", type(mi_entero))

SyntaxError: invalid syntax (259452016.py, line 2)

# float - Float/Números con decimales

In [6]:
my_float = 11.1
print("El valor de mi_entero es: ", my_float)
print("El tipo de dato de mi_entero es: ", type(my_float))

El valor de mi_entero es:  11.1
El tipo de dato de mi_entero es:  <class 'float'>

In [7]:
my_float = 11.0
print("El valor de mi_entero es: ", my_float)
print("El tipo de dato de mi_entero es: ", type(my_float))

El valor de mi_entero es:  11.0
El tipo de dato de mi_entero es:  <class 'float'>

In [8]:
# Error
my_float = 11.k
print("El valor de mi_entero es: ", my_float)
print("El tipo de dato de mi_entero es: ", type(my_float))

SyntaxError: invalid decimal literal (3587056747.py, line 2)

In [9]:
# Notación cientifica
my_float = 2e3 # 2.0*10**3
print("El valor de mi_entero es: ", my_float)
print("El tipo de dato de mi_entero es: ", type(my_float))

El valor de mi_entero es:  2000.0
El tipo de dato de mi_entero es:  <class 'float'>

In [10]:
1.1

1.1

In [11]:
1.1e0 # 1.1 * 10**0

1.1

In [12]:
1.1e1 # 1.1 * 10**1

11.0

In [13]:
1.1e2 # 1.1 * 10**2

110.0

In [14]:
1.1e3 # 1.1 * 10**3

1100.0

In [15]:
8e-2 # 8 * 10**-2

0.08

# complex - Complex / Complejos (Números con una parte real y una imaginaria)

complex = x + yj

x = parte real

yj = parte imaginaria

In [16]:
complejo = 3 + 9j
print("El valor de complejo es: ", complejo)
print("El tipo de dato de complejo es: ", type(complejo))

El valor de mi_entero es:  (3+9j)
El tipo de dato de mi_entero es:  <class 'complex'>

In [17]:
complejo = 2 + 5j
print("El valor de complejo es: ", complejo)
print("El tipo de dato de complejo es: ", type(complejo))

El valor de complejo es:  (2+5j)
El tipo de dato de complejo es:  <class 'complex'>

# bool - Boolean (True / False) / Valores Lógicos (Verdaero / Falso)

In [18]:
my_boolean = False
print("El valor de my_boolean es: ", my_boolean)
print("El tipo de dato de my_boolean es: ", type(my_boolean))

El valor de my_boolean es:  False
El tipo de dato de my_boolean es:  <class 'bool'>

In [19]:
my_boolean = True
print("El valor de my_boolean es: ", my_boolean)
print("El tipo de dato de my_boolean es: ", type(my_boolean))

El valor de my_boolean es:  True
El tipo de dato de my_boolean es:  <class 'bool'>

In [20]:
# True = 1
# False = 0

In [21]:
# 3
print(True+True+True)

3

In [23]:
# 0
print(False+False+False)

0

In [24]:
# 2
print(True+False+True)

2

In [25]:
# 1
print(True-True+True)

1

In [26]:
# -2
print(False-True-True)

-2

# str - Strings / Cadenas, Textos

In [27]:
txt = "Backend Python"
print("El valor de txt es: ", txt)
print("El tipo de dato de txt es: ", type(txt))

El valor de txt es:  Backend Python
El tipo de dato de txt es:  <class 'str'>

In [28]:
txt = "Curso de EBAC"
print("El valor de txt es: ", txt)
print("El tipo de dato de txt es: ", type(txt))

El valor de txt es:  Curso de EBAC
El tipo de dato de txt es:  <class 'str'>

In [29]:
txt = "Aprendiendo a usar strings/cadenas/textos"
print("El valor de txt es: ", txt)
print("El tipo de dato de txt es: ", type(txt))

El valor de txt es:  Aprendiendo a usar strings/cadenas/textos
El tipo de dato de txt es:  <class 'str'>

In [30]:
txt = 'You're amazing'
print("El valor de txt es: ", txt)
print("El tipo de dato de txt es: ", type(txt))

SyntaxError: unterminated string literal (detected at line 1) (987391302.py, line 1)

In [32]:
txt = """
Es una cadena con multiples líneas\n
Como puedes ver es genial para textos mas largos\n
¿Puedes imaginar cuantas cosas podrías hacer manejando texto en Internet?"""
print("El valor de txt es: ", txt)
print("El tipo de dato de txt es: ", type(txt))

El valor de txt es:
Es una cadena con multiples líneas

Como puedes ver es genial para textos mas largos

¿Puedes imaginar cuantas cosas podrías hacer manejando texto en Internet?
El tipo de dato de txt es:  <class 'str'>

# Variables
### ¿Qué es una variable?
- Son un espacio temporal para guardar un valor con un nombre especifico.
- No hay necesidad de declarar el tipo de dato explicitamente.
- Python es un lenguaje tipado dinamicamente, lo que quiere decir que el tipo de dato se define mientras corre el programa.
- Las variables en Python funcionan diferente que otros lenguajes de programacion.
- No necesitamos crear las variables, solo asignamos un nombre a un valor usando el valor de asignacion.

### Tipos de variables:
- Variables Globales: aquellas que se utilizaran para todo el programa.
- Variables locales: aquellas que se van a utilizar en un bloque especifico.

# Variables Globales
- Declaramos variables globales afuera de funciones.
- El valor de la variable puede ser constante para todo el programa.
- Cualquier funcion podrá acceder a estas variables.
- Podemos decir que las variables globales tienen un alcance global.
- Normalmente son más usadas para constantes.
- Las variables globales mantienen sus valores a través de la ejecución completa del programa.
- Una variable global puede ser accesada por cualquier función.

In [33]:
# Variable global
Var_global = 50
def function_1():
    pass
def function_2():
    pass

In [34]:
# Variable local
def function_1():
    var_local = 5
    pass
def function_2():
    var_local = 35
    pass

In [35]:
# Variable global
var_global = 50

def function_1():
    print("function_1 - El valor de var_global es: ", var_global)
    pass
def function_2():
    print("function_2 - El valor de var_global es: ", var_global)
    pass

In [36]:
# Preferencia al valor local y despues al global
var = 50 # Global

def function_1():
    var = 10 # Local
    print("function_1 - El valor de var es: ", var)
    pass
def function_2():
    var = 20 # Local
    print("function_2 - El valor de var es: ", var)
    pass
def function_3():
    print("function_3 - El valor de var es: ", var)
    pass

In [37]:
function_1()

function_1 - El valor de var es:  10

In [38]:
function_2()

function_2 - El valor de var es:  20

In [39]:
function_3()

function_3 - El valor de var es:  50

# Variables locales
- Podemos utilizarlas dentro de una función.
- Podemos tener una restricción al acceder a una variable local desde otra función.
- No podemos usarlas durante todo el programa.
- EL alcance y visibilidad se limita al interior de la función
- Lo que dure la función será lo que dure el alcance de nuestra variable

In [40]:
# Variable global
Var_global = 50
def function_1():
    pass
def function_2():
    pass

In [41]:
# Variable local
def function_1():
    var_local = 5
    pass
def function_2():
    var_local = 35
    pass

In [1]:
def function_1():
    var = 10 # Local
    print("function_1 - El valor de var es: ", var)
    pass
def function_2():
    var = 20 # Local
    print("function_2 - El valor de var es: ", var)
    pass
def function_3():
    print("function_3 - El valor de var es: ", var)
    pass

In [43]:
function_1()
function_2()
function_3()

function_1 - El valor de var es:  10
function_2 - El valor de var es:  20
function_3 - El valor de var es:  50

In [3]:
function_1()
function_2()
function_3() # Error por que no existe una vairable local ni global

function_1 - El valor de var es:  10
function_2 - El valor de var es:  20

NameError: name 'var' is not defined

# Palabra reservada "global"

In [4]:
def function_1():
    var = 10 # Local
    print("function_1 - El valor de var es: ", var)
    pass
def function_2():
    global var # Se convierte en Global
    var = 20 
    print("function_2 - El valor de var es: ", var)
    pass
def function_3():
    print("function_3 - El valor de var es: ", var)
    pass

In [5]:
function_1()
function_2()
function_3()

function_1 - El valor de var es:  10
function_2 - El valor de var es:  20
function_3 - El valor de var es:  20

In [9]:
def function_1():
    var = 10 # Local
    print("function_1 - El valor de var es: ", var)
    pass
def function_2():
    global a, b, c, d, e # Se convierte en Global
    a = 10
    b = 20
    c = 30
    d = 40
    e = 50
    print("function_2 - El valor de a es: ", a)
    print("function_2 - El valor de b es: ", b)
    print("function_2 - El valor de c es: ", c)
    print("function_2 - El valor de d es: ", d)
    print("function_2 - El valor de e es: ", e)
    pass
def function_3():
    print("function_3 - El valor de a es: ", a)
    print("function_3 - El valor de b es: ", b)
    print("function_3 - El valor de c es: ", c)
    print("function_3 - El valor de d es: ", d)
    print("function_3 - El valor de e es: ", e)
    pass

In [10]:
function_1()
function_2()
function_3()

function_1 - El valor de var es:  10
function_2 - El valor de a es:  10
function_2 - El valor de b es:  20
function_2 - El valor de c es:  30
function_2 - El valor de d es:  40
function_2 - El valor de e es:  50
function_3 - El valor de a es:  10
function_3 - El valor de b es:  20
function_3 - El valor de c es:  30
function_3 - El valor de d es:  40
function_3 - El valor de e es:  50

# Tipos de Enteros
- Forma decimal
- Forma binaria
- Forma octal
- Forma hexadecimal

# Forma decimal

In [11]:
num_decimal = 55
print("El valor de num_deciamal es: ", num_decimal)

El valor de num_deciamal es:  55

In [12]:
num_decimal = 512345678908978956

print("El valor de num_deciamal es: ", num_decimal)

El valor de num_deciamal es:  512345678908978956

In [13]:
# Error de sintaxis
num_decimal = 55d
print("El valor de num_deciamal es: ", num_decimal)

SyntaxError: invalid decimal literal (2118100920.py, line 2)

In [14]:
# Error de sintaxis
num_decimal = 55@
print("El valor de num_deciamal es: ", num_decimal)

SyntaxError: invalid syntax (2155072914.py, line 2)

# Forma binaria
- Código organizado en bytes
- Lenguaje binario
- Lenguaje de las máquinas (1 y 0)

### Valor base = 2

- Solamente aceta dos dígitos (1 y 0)
- Usamos el prefijo '0b' o '0B'

In [16]:
num_decimal = 11
print("El valor de num_deciamal es: ", num_decimal)

El valor de num_deciamal es:  11

In [17]:
num_binario = 0b11 # 1*2**1 + 1*2**0
print("El valor de num_deciamal es: ", num_binario)

El valor de num_deciamal es:  3

In [18]:
num_decimal = 111
print("El valor de num_deciamal es: ", num_decimal)

El valor de num_deciamal es:  111

In [19]:
num_binario = 0B111 # 1*2**2 + 1*2**1 + 1*2**0
print("El valor de num_deciamal es: ", num_binario)

El valor de num_deciamal es:  7

# Forma Octal

### Valor base: 8

- Solamente acepta dígitos del 0 al 7
- Usamos el prefijo '0o' o '0O'

In [20]:
num_decimal = 17
print("El valor de num_deciamal es: ", num_decimal)
num_octal = 0o17 # 1*8**1 + 7*8**0
print("El valor de num_octal es: ", num_octal)

El valor de num_deciamal es:  17
El valor de num_octal es:  15

In [21]:
num_decimal = 153
print("El valor de num_deciamal es: ", num_decimal)
num_octal = 0o153 # 1*8**2 + 5*8**1 + 7*8**0
print("El valor de num_octal es: ", num_octal)

El valor de num_deciamal es:  153
El valor de num_octal es:  107

# Forma Hexadecimal

### Valor base: 16

- Acepta dígitos del 0 al 9
- Acepta letras de la 'a/A' a la 'f/F'
- Usamos el prefijo '0x' o '0X'

- 0
- 1
- 2
- 3
- 4
- 5
- 6
- 7
- 8
- 9
- A = 10
- B = 11
- C = 12
- D = 13
- E = 14
- F = 15

In [26]:
num_decimal = 17
print("El valor de num_deciamal es: ", num_decimal)
num_hex = 0x17 # 1*16**1 + 7*16**0
print("El valor de num_hex es: ", num_hex)

El valor de num_deciamal es:  17
El valor de num_hex es:  23

In [25]:
num_hex = 0X1C # 1*16**1 + 12*16**0
print("El valor de num_hex es: ", num_hex)

El valor de num_hex es:  28